asttokens
blinker
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
Flask
fonttools
geographiclib
geopandas
geopy
gunicorn
idna
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
networkx
numpy
osmnx
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pyogrio
pyparsing
pyproj
python-dateutil
pytz
pywin32
pyzmq
requests
scikit-learn
scipy
seaborn
shapely
six
stack-data
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug